.preview {
    height: auto;
    width: 100%;
    background-color: #7898ac;
}

.preview-wrapper {
    height: 100%;
    margin: auto auto auto auto;
    /*padding: 3rem 2.5%;*/
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
}

.preview-left {
    text-align: right;
    padding: 0rem;
}

.preview-left__image {
    width: 100%;
    height: auto;
}

.preview-middle {
    display:flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size:3rem;
    padding: 0.5rem;
    font-family: Oswald, sans-serif;
}

.preview-middle-button {
    align-self: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
}
.preview-right {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.preview-right__image {
    width: 100%;
    
    height: auto;
}

@media screen and (max-width: 60rem) {
    .preview-wrapper {
        width: auto;
        margin: 0;
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }
    
    .preview-left {
        flex: 2 1 100%;
        padding: 0;
    }
    
    .preview-middle {
        flex: 2 1 100%;
        padding: 1rem 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
}